/*Til mobil og computer*/

* {
    box-sizing: border-box;
}

body {
    background-color: #e2e4da;
    margin: 0;
}

header {
    background-color: #ffff;
    position: fixed;
    width: 100%;
    top: 0;
}

.logoheader {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
}


.forsidebillede {
    display: block;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

footer img {
    width: 30px;
    margin: 0 3% 0 3%;
}

footer {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin-top: 30px;

    text-align: center;
}

/*computer*/

@media screen and (min-width:769px) {
    .forsidebillede {
        width: 60%;
        margin-top: 20%;
    }

    .burger-check {
        display: none;
    }

    .mobilmenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        margin-right: 12px;
        margin-bottom: 10px;
        font-family: 'arial';
        text-transform: uppercase;

    }

    .mobilmenu li {
        float: right;
        display: inline;
        margin-left: 10px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
    }

    .mobilmenu li a {
        display: inline-block;
        text-align: center;
        padding: 5px 18px;
        text-decoration: none;
        color: #000000;
    }

    .mobilmenu li a:hover {
        color: #e2e4da;
        background-color: #000000;
    }

    .mobilmenu .active {
        color: #ffffff;
    }

    .mobilmenu li.ommigmenu {
        display: none;
    }

    header {
        margin-bottom: 50px;
    }

    .indhold {
        margin-top: 150px;
    }

    h1 {
        font-size: 1.5em;
        font-family: 'arial';
        text-transform: uppercase;
        margin-left: 4%;
    }

    .kontakt {
        text-align: center;
        line-height: 1.5;
        font-family: 'arial';
        margin-left: 4%;
        margin-right: 4%;
    }

    .logoheader {
        width: 80px;
        margin-left: 4%;
        margin-right: 2%;
        margin-top: 3%;
    }

    .brodtext {
        margin-left: 4%;
        margin-right: 50%;
        font-family: 'arial';
        line-height: 1.5;

    }
    .forsidebillede {
        width: 50%;
        margin-top: 15%;
        margin-right: auto;
        margin-left: auto;
    }
    .milla{
        width: 15%;
        margin: 4%;
        
    }
    
    .box {
        background-color: #000000;
        margin: auto;
        color: white;
    }
    
    .designcasetekst {
        font-size: 14px;
        margin: 10px;
    }
     .designcase2 {
        width: 120px;
        height: 90px;
        border: 1px solid #000000;
         float: right;
         margin: 5px 25px;
    }
}

/*til mobil*/

@media screen and (max-width:768px) {
    .logoheader {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        padding: 10px 0 10px 0;
    }

    /* burgermenu tager fra Eduardo Boucas´s codepen med ændringer (https://codepen.io/eduardoboucas/pen/BNyKwO)*/
    .burger {
        margin-left: 10px;
        margin-top: 5px;
        display: inline-block;
        border: 0;
        background: none;
        outline: 0;
        padding: 0;
        cursor: pointer;
        border-bottom: 4px solid currentColor;
        width: 28px;
        transition: border-bottom 1s ease-in-out;
        -webkit-transition: border-bottom 1s ease-in-out;
    }
    .burger::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
    .burger:before {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 5px;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    .burger:after {
        content: "";
        display: block;
        border-bottom: 4px solid currentColor;
        width: 100%;
        margin-bottom: 5px;
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .burger-check {
        display: none;
    }

    .burger-check:checked ~ .burger {
        border-bottom: 4px solid transparent;
        transition: border-bottom 0.8s ease-in-out;
        -webkit-transition: border-bottom 0.8s ease-in-out;
    }
    .burger-check:checked ~ .burger:before {
        transform: rotate(-405deg) translateY(1px) translateX(-3px);
        -webkit-transform: rotate(-405deg) translateY(1px) translateX(-3px);
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }
    .burger-check:checked ~ .burger:after {
        transform: rotate(405deg) translateY(-4px) translateX(-5px);
        -webkit-transform: rotate(405deg) translateY(-4px) translateX(-5px);
        transition: -webkit-transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
        -webkit-transition: -webkit-transform 0.5s ease-in-out;
    }

    .navigation {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    .burger-check:checked ~ .navigation {
        max-height: 500px;
        -webkit-transition: max-height 0.5s ease-in-out;
        transition: max-height 0.5s ease-in-out;
    }

    a {
        color: inherit;
    }

    /*mobilmenu*/
    .mobilmenu {
        margin: 10px;
        padding: 0;
        font-family: 'arial', serif;
        font-style: normal;
        font-size: 10px;
        text-align: left;
        text-transform: uppercase;
    }

    .mobilmenu li {
        list-style: none;
        font-size: 15px;
        padding: 5px 0;
    }
    .mobilmenu li a {
        text-decoration: none;
    }
    .mobilmenu li a:hover {
        text-decoration: underline;
    }

    /*forsidebillede*/
    .forsidebillede {
        width: 80%;
        margin-top: 40%;
    }

    .selvportrat {
        width: 120px;
        margin-left: 3%;

    }
    .indhold {
        margin-top: 150px;
    }

    h1 {
        font-size: 1.5em;
        font-family: 'arial';
        text-transform: uppercase;
    }

    .tekst {
        line-height: 1.5;
        font-family: 'arial';
        margin-left: 3%;
        margin-right: 10%;
    }

    .kontakt {
        text-align: center;
        line-height: 1.5;
        font-family: 'arial';
        margin-left: 4%;
        margin-right: 4%;
    }

    .designcase1 img {
        width: 120px;
        height: 90px;
        border: 1px solid #000000;
    }

    .logoheader {
        width: 60px;
    }

    .brodtext {
        display: none;
    }

    .indholdforside {
        display: none;
    }

}
